.project
__pycache__
**/build/
**/build-*/
*.so
*.a
DGMCore
core/src/infrastructure/xpum_config.h
cli/src/config.h
daemon/config.h
lib/
pci.ids.upgrade
core/test/xpumd
daemon/core.grpc.pb.cc
daemon/core.grpc.pb.h
daemon/core.pb.cc
daemon/core.pb.h
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
daemon/xpum.service
daemon/resources/
daemon/config/
rest/xpum_rest.service
core/test/config/
rest/key.pem
rest/cert.pem
third_party/hwloc/install/bin/hwloc-annotate
third_party/hwloc/install/bin/hwloc-bind
third_party/hwloc/install/bin/hwloc-calc
third_party/hwloc/install/bin/hwloc-compress-dir
third_party/hwloc/install/bin/hwloc-diff
third_party/hwloc/install/bin/hwloc-distrib
third_party/hwloc/install/bin/hwloc-gather-cpuid
third_party/hwloc/install/bin/hwloc-gather-topology
third_party/hwloc/install/bin/hwloc-info
third_party/hwloc/install/bin/hwloc-ls
third_party/hwloc/install/bin/hwloc-patch
third_party/hwloc/install/bin/hwloc-ps
third_party/hwloc/install/bin/lstopo
third_party/hwloc/install/bin/lstopo-no-graphics
third_party/hwloc/install/include/hwloc.h
third_party/hwloc/install/include/hwloc/bitmap.h
third_party/hwloc/install/include/hwloc/cpukinds.h
third_party/hwloc/install/include/hwloc/cuda.h
third_party/hwloc/install/include/hwloc/cudart.h
third_party/hwloc/install/include/hwloc/deprecated.h
third_party/hwloc/install/include/hwloc/diff.h
third_party/hwloc/install/include/hwloc/distances.h
third_party/hwloc/install/include/hwloc/export.h
third_party/hwloc/install/include/hwloc/gl.h
third_party/hwloc/install/include/hwloc/glibc-sched.h
third_party/hwloc/install/include/hwloc/helper.h
third_party/hwloc/install/include/hwloc/inlines.h
third_party/hwloc/install/include/hwloc/levelzero.h
third_party/hwloc/install/include/hwloc/linux-libnuma.h
third_party/hwloc/install/include/hwloc/linux.h
third_party/hwloc/install/include/hwloc/memattrs.h
third_party/hwloc/install/include/hwloc/nvml.h
third_party/hwloc/install/include/hwloc/opencl.h
third_party/hwloc/install/include/hwloc/openfabrics-verbs.h
third_party/hwloc/install/include/hwloc/plugins.h
third_party/hwloc/install/include/hwloc/rename.h
third_party/hwloc/install/include/hwloc/rsmi.h
third_party/hwloc/install/include/hwloc/shmem.h
third_party/hwloc/install/include/hwloc/autogen/config.h
third_party/hwloc/install/sbin/hwloc-dump-hwdata
third_party/hwloc/install/share/bash-completion/completions/hwloc
third_party/hwloc/install/share/doc/hwloc/dynamic_SVG_example.html
third_party/hwloc/install/share/hwloc/hwloc-dump-hwdata.service
third_party/hwloc/install/share/hwloc/hwloc-valgrind.supp
third_party/hwloc/install/share/hwloc/hwloc.dtd
third_party/hwloc/install/share/hwloc/hwloc2-diff.dtd
third_party/hwloc/install/share/hwloc/hwloc2.dtd
third_party/hwloc/install/share/hwloc/hwloc-ps.www/client.js
third_party/hwloc/install/share/hwloc/hwloc-ps.www/package.json
third_party/hwloc/install/share/hwloc/hwloc-ps.www/README
third_party/hwloc/install/share/hwloc/hwloc-ps.www/assets/index.html
third_party/hwloc/install/share/hwloc/hwloc-ps.www/assets/main.css
third_party/hwloc/install/share/hwloc/hwloc-ps.www/assets/script.js
third_party/hwloc/install/share/hwloc/hwloc-ps.www/assets/style.css
third_party/hwloc/install/share/man/man1/hwloc-annotate.1
third_party/hwloc/install/share/man/man1/hwloc-bind.1
third_party/hwloc/install/share/man/man1/hwloc-calc.1
third_party/hwloc/install/share/man/man1/hwloc-compress-dir.1
third_party/hwloc/install/share/man/man1/hwloc-diff.1
third_party/hwloc/install/share/man/man1/hwloc-distrib.1
third_party/hwloc/install/share/man/man1/hwloc-dump-hwdata.1
third_party/hwloc/install/share/man/man1/hwloc-gather-cpuid.1
third_party/hwloc/install/share/man/man1/hwloc-gather-topology.1
third_party/hwloc/install/share/man/man1/hwloc-info.1
third_party/hwloc/install/share/man/man1/hwloc-ls.1
third_party/hwloc/install/share/man/man1/hwloc-patch.1
third_party/hwloc/install/share/man/man1/hwloc-ps.1
third_party/hwloc/install/share/man/man1/lstopo-no-graphics.1
third_party/hwloc/install/share/man/man1/lstopo.1
third_party/hwloc/install/share/man/man7/hwloc.7
