.project
__pycache__
**/build/
**/build-*/
*.so
*.a
!libamcfw.a
core/src/infrastructure/xpum_config.h
cli/src/config.h
daemon/config.h
lib/
pci.ids.upgrade
core/test/xpumd
daemon/core.grpc.pb.cc
daemon/core.grpc.pb.h
daemon/core.pb.cc
daemon/core.pb.h
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
daemon/xpum.service
daemon/resources/
daemon/config/
rest/xpum_rest.service
core/test/config/
rest/key.pem
rest/cert.pem
third_party/hwloc/install/*
*.log
.ccache/