*.o
*.so
*.a
.vscode
*.vs
/xpu-smi
/xpumcli
tags
release
x64
build
builddir
subprojects/igsc
subprojects/metee
subprojects/level-zero
**/conan_meson_native.ini
**/*conan*.bat
**/*conan*.sh
**/*.pc
**/compile_commands.json
**/.conan
**__pycache__/
**/*.pyc
docs/sphinx/_build/
