apispec-webframeworks==0.5.2
apispec==5.1.1
Flask-HTTPAuth==4.6.0
Flask==2.2.5
grpcio-tools==1.56.2
grpcio==1.56.2
marshmallow==3.14.1
myst-parser==2.0.0
prometheus-client==0.14.1
protobuf==4.21.10
requests==2.31.0
sphinx-rtd-theme==2.0.0
Sphinx==7.1.2
sphinxcontrib-openapi==0.8.3