alabaster==0.7.12
apispec==5.1.1
apispec-webframeworks==0.5.2
asn1crypto==0.24.0
attrs==21.4.0
Babel==2.10.1
certifi==2022.12.07
charset-normalizer==2.0.12
click==8.0.4
docutils==0.17.1
Flask==2.2.5
Flask-HTTPAuth==4.6.0
grpcio==1.51.1
grpcio-tools==1.51.1
idna==2.6
imagesize==1.3.0
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
jsonschema==4.0.0
keyring==10.6.0
keyrings.alt==3.0
markdown-it-py==2.2.0
MarkupSafe==2.1.1
marshmallow==3.14.1
mdit-py-plugins==0.3.0
mdurl==0.1.0
mistune==2.0.3
myst-parser==0.16.1
packaging==21.3
prometheus-client==0.14.1
protobuf==4.21.10
Pygments==2.12.0
pyparsing==3.0.9
pyrsistent==0.18.0
pytz==2022.1
pyxdg==0.26
PyYAML==6.0
requests==2.31.0
SecretStorage==2.3.1
six==1.11.0
snowballstemmer==2.2.0
Sphinx==4.5.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-httpdomain==1.8.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-openapi==0.8.0
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
typing-extensions==4.1.1
urllib3==1.26.9
Werkzeug==2.2.3
zipp==3.6.0