[Unit]
Description=XPUM-Rest daemon

After=xpum.target

[Service]
Type=simple
ExecStart=gunicorn --certfile=rest/cert.pem --keyfile=rest/key.pem --ssl-version TLSv1_2 --bind=0.0.0.0:30000--worker-class=gevent --worker-connections=1000 -w 3 DGM:app
ExecStop=/bin/kill -TERM $MAINPID
User=root

[Install]
WantedBy=multi-user.target
