[Unit]
Description=XPUM-Rest daemon

After=xpum.target

[Service]
Type=simple
ExecStart=gunicorn --bind=127.0.0.1:8100 --worker-class=gevent --worker-connections=1000 -w 3 DGM:app
ExecStop=/bin/kill -TERM $MAINPID
User=root

[Install]
WantedBy=multi-user.target