[Unit]
Description=XPUM_Rest daemon

After=xpum.target

[Service]
Type=oneshot
RemainAfterExit=yes

RuntimeDirectory=xpum

ExecStart=/opt/xpum/rest/xpum_rest.sh start
ExecStop=/opt/xpum/rest/xpum_rest.sh stop
ExecReload=/opt/xpum/rest/xpum_rest.sh reload

User=xpum

[Install]
WantedBy=multi-user.target
